
body{
    font-family:Georgia, 'Times New Roman', Times, serif;

    font-style: oblique;
    margin-left:275px;
    padding-left:275px;
    border-left:275px;
    background-color: aliceblue;
    /*backgorund-color:lightgrey;
    background-image: url();*/
}

.AboutObjects{
   font-family: Arial;
  
}

